##DATA TYPES AND STRUCTURES QUESTIONS

###1. What are data structures, and why are they important?

Ans- Data structure are formats for organizing, managing and storing data efficiently. They are important because:

- Enable optimized data access and manipulation.
- Solve specific problems(e.g. dictionary for key-value pairs).
- Improve code performance and readability.

###2.  Explain the difference between mutable and immutable data types with examples?

Ans-

- **Mutable**: Can be modified after creation(e.g. lists, dictionary, sets)

In [ ]:
my_list = [1,2,3]
my_list[0] = 10 #valid

In [ ]:
my_list

[10, 2, 3]

- **Immutable**: Can not be changed after creation(e.g. tuples, strings, integers)

In [ ]:
my_tuple = (1,2,3)
my_tuple(0) = 10 #Error = Type error

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-3-783064e93724>, line 2)

###3.What are the main differences between lists and tuples in Python?

**lists**:

- Mutable
- Syntax: [1, 2, 3]
- Slower Iteration

**tuples**:

- Immutable
- Syntax:(1, 2, 3)
- Faster Iteration

###4.  Describe how dictionaries store data?

Ans- Dictionaries store data as **key-value pairs**, keys are unique and immutable (e.g. string and numbers).

Example:

In [ ]:
student = {"name": "Padmini", "age": 22}

###5.  Why might you use a set instead of a list in Python?

Ans-

**Sets**: Unordered, no duplicates, efficient membership checks.

**Lists**: Ordered, allows duplicates, indexed access.
Use sets when uniqueness or fast in checks are required.

###6.What is a string in Python, and how is it different from a list?

Ans-

**Strings**: Immutable sequence of characters.

**Lists**: Mutable, can hold mixed data types.

###7. How do tuples ensure data integrity in Python?

Ans- Tuples are immutable, so their elements cannot be altered accidentally, making them ideal for fixed data (e.g., coordinates).

###8. What is a hash table, and how does it relate to dictionaries in Python?

Ans- Dictionaries in Python use hash tables internally, enabling O(1) average time complexity for lookups, insertions, and deletions.

###9. Can lists contain different data types in Python?

Ans- Yes! Lists can contain integers, strings, other lists, etc.:

In [ ]:
mixed_list = [1, "apple", [2, 3]]

###10.  Explain why strings are immutable in Python.

Ans- Immutability allows strings to be used as dictionary keys, cached for performance, and safely shared across threads.

###11. What advantages do dictionaries offer over lists for certain tasks?

Ans-

Dictionaries are better for:

- Key-based lookups (e.g., **student["name"]**).

- Storing labeled data (e.g., configuration settings).

###12. Describe a scenario where using a tuple would be preferable over a list.

Ans- Use tuples for fixed data (e.g., days of the week):

In [ ]:
days = ("Mon", "Tue", "Wed")

###13. How do sets handle duplicate values in Python?

Ans- Sets automatically discard duplicate values during creation:

In [ ]:
my_set = {1, 1, 2}  # Result: {1, 2}

In [ ]:
my_set

{1, 2}

###14. How does the “in” keyword work differently for lists and dictionaries?

Ans- "in" Keyword Differences

**Lists**: Checks for element existence (O(n) time).

**Dictionaries**: Checks for key existence (O(1) time).

###15.Can you modify the elements of a tuple? Explain why or why not?

Ans- No. Tuples are immutable, so elements cannot be added, removed, or changed.

###16. What is a nested dictionary, and give an example of its use case?

Ans- A dictionary containing other dictionaries:

In [ ]:
employees = {
    "Alice": {"age": 30, "role": "Engineer"},
    "Bob": {"age": 25, "role": "Designer"}
}

###17.  Describe the time complexity of accessing elements in a dictionary.

Ans- O(1) average time for accessing elements due to hash tables.

###18. In what situations are lists preferred over dictionaries?

Ans- When order matters or you need sequential access (e.g., processing items in sequence).

###19.Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans- Dictionaries are optimized for **key-based lookups**, not order.

Always retrieve data by **keys**, not positions.

###20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans-

- **List**: Access elements by index (e.g., list[0]).

- **Dictionary**: Access elements by key (e.g., dict["key"]).

##PRACTICAL QUESTIONS

###1. Write a code to create a string with your name and print it?

In [ ]:
name = "Padmini"
print(name)

Padmini

###2. Write a code to find the length of the string "Hello World"?

In [ ]:
print(len("Hello World"))

11

###3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
s = "Python Programming"
print(s[:3])

Pyt

###4. Write a code to convert the string "hello" to uppercase?

In [ ]:
print("hello".upper())

HELLO

###5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [ ]:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

###6. Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

###7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

###8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

###9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [ ]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

###10. Write a code to reverse the list [10, 20, 30, 40, 50]?

In [ ]:
lst = [10, 20, 30, 40, 50]
print(lst[::-1])

[50, 40, 30, 20, 10]

###11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

###12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

### 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
nums = (10, 20, 5, 15)
print(min(nums))

5

### 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
pets = ('dog', 'cat', 'rabbit')
print(pets.index('cat'))

1

###15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

### 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

### 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)  # Output: set()

set()

### 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

###19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

### 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))  # Output: {2, 3}

{2, 3}

### 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)  # Output: {'name': 'John', 'age': 25, 'city': 'New York'}

{'name': 'John', 'age': 25, 'city': 'New York'}

### 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)  # Output: {'name': 'John', 'age': 25, 'country': 'USA'}

{'name': 'John', 'age': 25, 'country': 'USA'}

### 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])  # Output: Alice

Alice

### 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)  # Output: {'name': 'Bob', 'city': 'New York'}

{'name': 'Bob', 'city': 'New York'}

###25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)  # Output: True

True

### 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

### 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers_sorted = sorted(numbers)
print(numbers_sorted)

[7, 9, 14, 59, 64]

###28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
lst = ["apple", "banana", "cherry", "date", "fig"]
print(lst[3])  # Output: date

date

###29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
merged = {**dict1, **dict2}
print(merged)  # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### 30. Write a code to convert a list of strings into a set.

In [ ]:
str_list = ["apple", "banana", "apple"]
str_set = set(str_list)
print(str_set)  # Output: {'apple', 'banana'}

{'apple', 'banana'}

##Thank you:)